<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>글 수정하기</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
	<style>

	</style>
	<script>
		// 시작시 커서 위치를 비번에 넣어주자
		/* JQUERY일 경우
		$(function(){
			$("#password").focus();
		});
		*/
		// 순수 자바스크립트 코드
		window.onload = function(){
			document.querySelector("#password").focus();
		}
		
		function formCheck(){
			let value = $("#password").val(); // 비번 얻고
			if(value==null || value.trim().length==0){ // 없거나 빈칸들로만  입력되었다면
				alert('비밀번호는 반드시 입력해야 합니다.'); // 경고
				 $("#password").val(""); // 입력값 삭제
				 $("#password").focus(); // 커서 위치
				 return false;   // 전송 취소
			}
			value = $("#subject").val(); // 제목 얻고
			if(value==null || value.trim().length==0){ // 없거나 빈칸들로만  입력되었다면
				alert('제목은 반드시 입력해야 합니다.'); // 경고
				 $("#subject").val(""); // 입력값 삭제
				 $("#subject").focus(); // 커서 위치
				 return false;   // 전송 취소
			}
			value = $("#content").val(); // 내용 얻고
			if(value==null || value.trim().length==0){ // 없거나 빈칸들로만  입력되었다면
				alert('내용은 반드시 입력해야 합니다.'); // 경고
				 $("#content").val(""); // 입력값 삭제
				 $("#content").focus(); // 커서 위치
				 return false;   // 전송 취소
			}
			return true;
		}
	</script>	
</head>
<body>
	<div class="p-2 mb-5 text-center bg-light">
        <h2 class="mb-3">나의 자유게시판 - 글수정하기</h2>
    </div>
    <div class="container">
		<!-- 
			onsubmit="return formCheck()" : 전송시 formCheck() 함수를 먼저 실행해라. 
		 	true값이 리턴 될때만 폼전송이 이루어 진다.  
		 -->
 		<form action="updateOk" method="post" onsubmit="return formCheck()">
			<input type="hidden" name="id" class="form-control" style="margin-bottom: 3px;" th:value="${board.id}" readonly>	 
			<input type="text" name="name" class="form-control" style="margin-bottom: 3px;" th:value="${board.name}" readonly>	 
			<input type="password" name="password" class="form-control" placeholder="비밀번호" id="password" required style="margin-bottom: 3px;">	 
			<input type="text" name="subject" class="form-control" id="subject" required style="margin-bottom: 3px;" th:value="${board.subject}" >
			<section class="mb-5">
			<textarea class="form-control h-25" rows="10" placeholder="내용" required id="content" name="content">[[${board.content}]]</textarea>
			</section>
			<section style="text-align: right;">
				<input type="submit" value="수정하기" class="btn btn-sm btn-outline-success"/>
				<input type="button" value="내용보기" class="btn btn-sm btn-outline-success" th:onclick="|location.href='@{view(id=${board.id})}'|"/>
				<input type="button" value="목록으로" class="btn btn-sm btn-outline-success" onclick="location.href='/'"/>
			</section>		 
		</form>
	</div>                
</body>
</html>