<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DB 마이바티스 연결 테스트</title>
<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<style type="text/css">
#info {
	width: 90%;
	padding: 10px;
	margin: auto;
	border: 1px solid gray;
	margin-bottom: 10px;
	font-size: 18pt;
	border-radius: 20px;
	color: black;
}
</style>
</head>
<body>
	<div id="info">
		<h2>DB 마이바티스 연결 테스트</h2>
		<h2>서버 시간 1 : [[${today1}]]</h2>
		<h2>서버 시간 2 : [[${#dates.format(today2, 'yy-MM-dd(E) HH:mm:ss')}]]</h2>
		<h3>8의 두배 : [[${double1}]]</h3>
		<h3>23의 두배 : [[${double2}]]</h3>
		<h3>12 * 73 = [[${mul}]]</h3>
		<!-- 맵으로 받으면 모든 변수명이 대문자로 변경된다 -->
		<h3>맵으로 받기 : [[${result}]]</h3>
		<h3>맵으로 합계 받기 : [[${result.S}]]</h3>
		<h3>맵으로 곱셈 받기 : [[${result.M}]]</h3>
		<h3>맵으로 날짜 받기 : [[${result.TODAY}]]</h3>
		<hr />
		<!-- VO로 보내고 VO로 받기 -->
		<h3>VO로 받기 : [[${vo}]]</h3>
		[[${vo.num1}]] + [[${vo.num2}]] = [[${vo.sum}]] <br />
		[[${vo.num1}]] + [[${vo.num2}]] = [[${vo.mul}]]
		<img src="/images/linux-icon.png" width="100" height="100" alt="귀여운 펭귄" />
		<img src="/images/linux-icon2.png" width="100" height="100" alt="건방진 펭귄" />
		<hr />
		<a href="/"  class="btn btn-sm btn-outline-success">Home</a>
	</div>
</body>
</html>
