<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>한자 시험보기</title>
<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/dist/css/bootstrap.min.css">
<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.3.0/dist/js/bootstrap.min.js"></script>
<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<style type="text/css">
#info {
	width: 90%;
	padding: 10px;
	margin: auto;
	border: 1px solid gray;
	margin-bottom: 10px;
	font-size: 13pt;
	border-radius: 20px;
	color: black;
}
table{
	width: 90%;
	padding: 10px;
	margin: auto;
	border: none;
	margin-bottom: 10px;
}
th{
	border: 1px solid gray; background-color: silver; padding: 5px; text-align: center;
}
td{
	border: 1px solid gray; padding: 5px; text-align: center;
}
</style>
<script type="text/javascript">
	$(function(){
		$("#grade").change(function(){
			let value = $("#grade").val();
			// alert("선택한 값 : " + value);
			location.href='?find=' + value;
		});
	});
</script>
</head>
<body>
	<div id="info">
		<img src="/images/linux-icon.png" width="100" height="100" alt="귀여운 펭귄" />
		<img src="/images/linux-icon2.png" width="100" height="100" alt="건방진 펭귄" />
		<hr />
		<a href="/"  class="btn btn-sm btn-outline-success">홈으로</a>
	</div>
	<table>
		<tr>
			<td style="font-size: 18pt;border: none;text-align: center;">
				한자 시험 보기
			</td>
		</tr>
		<tr>
			<td style="font-size: 11pt;border: none;text-align: right;">
				<select id="grade">
					<option  th:each="g : ${grade}" th:value="${g}" th:selected="${g}==${find}">[[${g}]]</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<b style="font-size: 15pt;">[[${find}]] 시험보기</b> 
				<hr />
				<form action="/hanja/result" method="post">
					<input type="hidden" name="find" th:value="${find}" />
					<div th:each="q, status : ${question}" style="text-align: left;">
						[[${q.n}]]. [[${q.q}]]
						<div th:if="${q.e1 ne ''}">
							<label>
							<input type="radio" th:name="|answer${status.count}|" value="1" checked="checked"/>[[${q.e1}]]
							</label><br />
							<label>
							<input type="radio" th:name="|answer${status.count}|" value="2"/>[[${q.e2}]]
							</label><br />
							<label>
							<input type="radio" th:name="|answer${status.count}|" value="3"/>[[${q.e3}]]
							</label><br />
							<label>
							<input type="radio" th:name="|answer${status.count}|" value="4"/>[[${q.e4}]]
							</label><br />
							<hr />
						</div>
						<div th:if="${q.e1 eq ''}">
							<input type="text" th:name="|answer${status.count}|" size="40" required="required"/>
							<hr />
						</div>
					</div>
					<div>
						<input type="submit" value="채점하기" class="btn btn-sm btn-outline-success"/>
					</div>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>
