<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- namespace는 반드시 DAO인터페이스와 이름이 일치해야 한다. -->
<mapper namespace="kr.kdata.pds.dao.Board2FileDAO">
	<!-- 매퍼파일에 태그 1개당 DAO인터페이스의 메서드 1개를 만든다. -->
	<!-- SQL명령 1개당 태그 1개씩을 추가한다. -->
	
	<!-- 1. 지정 ref의 모든 파일목록 얻기 -->
	<select id="selectByRef" parameterType="int" resultType="Board2FileVO">
		select * from board2file where ref=#{ref}
	</select>
	<!-- 2. 저장 -->
	<insert id="insert" parameterType="Board2FileVO">
		insert into 
			board2file
		values
			(board2file_id_seq.nextval, board2_id_seq.currval,#{uuid},#{fileName},#{contentType})
	</insert>
	<insert id="insert2" parameterType="Board2FileVO">
		insert into 
			board2file
		values
			(board2file_id_seq.nextval, #{ref},#{uuid},#{fileName},#{contentType})
	</insert>
	<!-- 3. 지정 ref의 모든 파일 지우기 -->
	<delete id="deleteByRef" parameterType="int">
		delete from board2file where ref=#{ref}
	</delete>
	<!-- 4. 지정 id의 파일 지우기 -->
	<delete id="deleteById" parameterType="int">
		delete from board2file where id=#{id}
	</delete>
	<!-- 5. 1개 얻기 -->
	<select id="selectById" parameterType="int" resultType="Board2FileVO">
		select * from board2file where id=#{id}
	</select>
	
</mapper>