<!DOCTYPE html>
<!-- Thymeleaf를 사용하겠다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>업로드 페이지</title>
<link rel="stylesheet" href="/webjars/bootstrap/5.3.0/dist/css/bootstrap.min.css">
<script src="/webjars/jquery/3.6.4/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap/5.3.0/dist/js/bootstrap.min.js"></script>
<script src="/webjars/axios/1.4.0/dist/axios.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<style type="text/css">
.info {
	width: 90%;
	padding: 10px;
	margin: auto;
	border: 1px solid gray;
	margin-bottom: 10px;
	font-size: 13pt;
	border-radius: 20px;
	color: black;
}
</style>
</head>
<body>
	<div class="info">
		<h2>파일 업로드 폼입니다.</h2>
		<hr />
		<img src="/images/linux-icon.png" width="100" height="100" alt="귀여운 펭귄" />
		<img src="/images/linux-icon2.png" width="100" height="100" alt="건방진 펭귄" />
		<hr />
		<a href="/"  class="btn btn-sm btn-outline-success">Home</a>
	</div>
	<div class="info">
		<!--/* 
		enctype="multipart/form-data"를 반드시 써줘야 한다. 
		안써주면 파일이아니라 파일 이름이 넘어간다. 
		*/-->
		<form action="/upload/uploadOk1" method="post" enctype="multipart/form-data">
			파일 : <input type="file" name="file" required  style="margin-bottom: 10px;"/> <br />
			파일 설명 : <input type="text" size="60" name="note"  style="margin-bottom: 10px;"/> <br />
			<input type="submit" value="전송하기" class="btn btn-sm btn-outline-success"/>
		</form>
	</div>
</body>
</html>
